@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #222433;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  color: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #222433;
    --background-rgb:255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

